* {
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}

body {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  font-family: 'Courier New', Courier, monospace;
}

.game-container {
  background-color: white;
  width: 70%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 70%;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  height: 70%;
  width: 50%;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 3px;
  background-color: darkgray;
  margin-top: 30px;
}

.board {
  display: flex;
}

.board {
  background-color: white;
  font-size: 5.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.symbol-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 50px;

}

.restart {
  font-size: 2rem;
  margin: 25px 0;
  padding: 10px;
  background-color: khaki;
  border: 1.5px solid grey;
  border-radius: 10px;
}
